NODE_ENV=production
PORT=4000
CORS_ORIGIN=https://reported-engwithme.trkhoang.com
CLIENT_URL=https://reported-engwithme.trkhoang.com

DATABASE_USER=reported_user
DATABASE_PASSWORD=your_secure_database_password_32_chars
DATABASE_NAME=reported_db

REDIS_PASSWORD=your_secure_redis_password_32_chars

JWT_SECRET=your_secure_jwt_secret_minimum_32_chars_random
SESSION_SECRET=your_secure_session_secret_minimum_32_chars_random

MAIL_DRIVER=resend
RESEND_API_KEY=re_your_resend_api_key_here
MAIL_FROM="Reported <no-reply@engwithme.trkhoang.com>"
EMAIL_FROM="Reported <no-reply@engwithme.trkhoang.com>"

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_WEBHOOK_SECRET=your_github_webhook_secret

GITLAB_CLIENT_ID=your_gitlab_application_id
GITLAB_CLIENT_SECRET=your_gitlab_secret

GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
VITE_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

CLOUDFLARE_TUNNEL_TOKEN=your_cloudflare_tunnel_token

DEFAULT_ADMIN_USER=hoaug
DEFAULT_ADMIN_EMAIL=hoaug@reported.dev
DEFAULT_ADMIN_PASSWORD=your_admin_secure_password

